body{
	margin: 0;
	padding: 0;
	font-family: 'BenchNine', sans-serif;
}
li{
	list-style: none;
}
a:hover, a:visited, a{
	text-decoration: none;
}
h1, h2{
	text-transform: uppercase;
	font-weight: bold;
}

/* remove codrops styles and reset the whole thing */
#container_demo{
	text-align: left;
	margin: 0;
	padding: 0;
	margin: 0 auto;
	font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
}

/** fonts used for the icons **/
@font-face {
	font-family: 'FontomasCustomRegular';
	src: url('fonts/fontomas-webfont.eot');
	src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/fontomas-webfont.woff') format('woff'),
	url('fonts/fontomas-webfont.ttf') format('truetype'),
	url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FranchiseRegular';
	src: url('fonts/franchise-bold-webfont.eot');
	src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/franchise-bold-webfont.woff') format('woff'),
	url('fonts/franchise-bold-webfont.ttf') format('truetype'),
	url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}
a.hiddenanchor{
	display: none;
}
/** The wrapper that will contain our two forms **/
#wrapper{
	width: 60%;
	right: 0px;
	min-height: 560px;
	margin: 0px auto;
	width: 500px;
	position: relative;
}
/**** Styling the form elements **/

/**** general text styling ****/
#wrapper a{
	color: rgb(95, 155, 198);
	text-decoration: underline;
}

#wrapper h1{
	font-size: 48px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}
/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{
	background: -webkit-repeating-linear-gradient(-45deg,
	rgb(18, 83, 93) ,
	rgb(18, 83, 93) 20px,
	rgb(64, 111, 118) 20px,
	rgb(64, 111, 118) 40px,
	rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
#wrapper h1:after{
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0)));
	background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
	background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
	background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
	background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
}

#wrapper p{
	margin-bottom:15px;
}
#wrapper p:first-child{
	margin: 0px;
}
#wrapper label{
	color: rgb(64, 92, 96);
	position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  {
	color: rgb(190, 188, 188);
	font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
	color: rgb(190, 188, 188);
	font-style: italic;
}
input {
	outline: none;
}

/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]){
	width: 90%;
	margin-top: 4px;
	padding: 15px 2px 10px 30px;
	border: 1px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing : content-box;
	box-sizing : content-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
	border: 1px solid rgba(91, 90, 90, 0.7);
	background: rgba(238, 236, 240, 0.2);
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	-moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
}

/** the magic icon trick ! **/
[data-icon]:after {
	content: attr(data-icon);
	font-family: 'FontomasCustomRegular';
	color: rgb(106, 159, 171);
	position: absolute;
	left: 10px;
	top: 35px;
	width: 30px;
}

/*styling both submit buttons */
#wrapper p.button input{
	width: 97%;
	cursor: pointer;
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;
	border: 1px solid rgb(28, 108, 122);
	margin-bottom: 10px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	0px 0px 0px 3px rgb(254, 254, 254),
	0px 5px 3px 3px rgb(210, 210, 210);
	-moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	0px 0px 0px 3px rgb(254, 254, 254),
	0px 5px 3px 3px rgb(210, 210, 210);
	box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	0px 0px 0px 3px rgb(254, 254, 254),
	0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#wrapper p.button input:hover{
	background: rgb(74, 179, 198);
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
	background: rgb(40, 137, 154);
	position: relative;
	top: 1px;
	border: 1px solid rgb(12, 76, 87);
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
	text-align: right;
	margin: 5px 0;
}

/* styling the Forgot your password*/
.keeploginforgot{
	margin-top: -15px;
}
.keeploginforgot input,
.keeploginforgot label{
	display: inline-block;
	font-size: 10px;
	font-style: italic;
}
.keeploginforgot input#loginforgot{
	margin-right: 5px;
}
.keeploginforgot label{
	width: 80%;
}

/* styling the checkbox "keep me logged in"*/
.keeplogin{
	margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
	display: inline-block;
	font-size: 12px;
	font-style: italic;
}
.keeplogin input#loginkeeping{
	margin-right: 5px;
}
.keeplogin label{
	width: 80%;
}


/*styling the links to change from one form to another */

p.change_link{
	position: absolute;
	color: rgb(127, 124, 124);
	left: 0px;
	height: 20px;
	width: 440px;
	padding: 17px 30px 20px 30px;
	font-size: 16px	;
	text-align: right;
	border-top: 1px solid rgb(219, 229, 232);
	-webkit-border-radius: 0 0  5px 5px;
	-moz-border-radius: 0 0  5px 5px;
	border-radius: 0 0  5px 5px;
	background: rgb(225, 234, 235);
	background: -moz-repeating-linear-gradient(-45deg,
	rgb(247, 247, 247) ,
	rgb(247, 247, 247) 15px,
	rgb(225, 234, 235) 15px,
	rgb(225, 234, 235) 30px,
	rgb(247, 247, 247) 30px
	);
	background: -webkit-repeating-linear-gradient(-45deg,
	rgb(247, 247, 247) ,
	rgb(247, 247, 247) 15px,
	rgb(225, 234, 235) 15px,
	rgb(225, 234, 235) 30px,
	rgb(247, 247, 247) 30px
	);
	background: -o-repeating-linear-gradient(-45deg,
	rgb(247, 247, 247) ,
	rgb(247, 247, 247) 15px,
	rgb(225, 234, 235) 15px,
	rgb(225, 234, 235) 30px,
	rgb(247, 247, 247) 30px
	);
	background: repeating-linear-gradient(-45deg,
	rgb(247, 247, 247) ,
	rgb(247, 247, 247) 15px,
	rgb(225, 234, 235) 15px,
	rgb(225, 234, 235) 30px,
	rgb(247, 247, 247) 30px
	);
}
#wrapper p.change_link a {
	display: inline-block;
	font-weight: bold;
	background: rgb(247, 248, 241);
	padding: 2px 6px;
	color: rgb(29, 162, 193);
	margin-left: 10px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgb(203, 213, 214);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s  linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s  linear;
	transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
	color: rgb(57, 191, 215);
	background: rgb(247, 247, 247);
	border: 1px solid rgb(74, 179, 198);
}
#wrapper p.change_link a:active{
	position: relative;
	top: 1px;
}
/** Styling both forms **/
#register,
#login{
	position: absolute;
	top: 50px;
	left: 50px;
	width: 70%;
	padding: 18px 6% 20px 6%;
	margin-top: 50;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 35px;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#register{
	z-index: 21;
	opacity: 0;
}
#login{
	z-index: 22;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
	z-index: 22;
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-ms-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}

/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;

	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;

	-o-animation-duration: 0.5s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;

	-ms-animation-duration: 0.5s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;

	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

/** yerk some ugly IE fixes 'cause I know someone will ask "why does it look ugly in IE?", no matter how many warnings I will put in the article */

.lt8 #wrapper input{
	padding: 10px 5px 10px 32px;
	width: 92%;
}
.lt8 #wrapper input[type=checkbox]{
	width: 10px;
	padding: 0;
}
.lt8 #wrapper h1{
	color: #066A75;
}
.lt8 #register{
	display: none;
}
.lt8 p.change_link,
.ie9 p.change_link{
	position: absolute;
	height: 90px;
	background: transparent;
}
a.hiddenanchor{
	display: none;
}

/** The wrapper that will contain our two forms **/
#wrapper{
	width: 60%;
	right: 0px;
	min-height: 560px;
	margin: 0px auto;
	width: 500px;
	position: relative;
}


/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;

	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;

	-o-animation-duration: 0.5s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;

	-ms-animation-duration: 0.5s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;

	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}


/* styling the Forgot your password*/
.keeploginforgot{
	margin-top: -15px;
}
.keeploginforgot input,
.keeploginforgot label{
	display: inline-block;
	font-size: 10px;
	font-style: italic;
}
.keeploginforgot input#loginforgot{
	margin-right: 5px;
}
.keeploginforgot label{
	width: 80%;
}

/* styling the checkbox "keep me logged in"*/
.keeplogin{
	margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
	display: inline-block;
	font-size: 12px;
	font-style: italic;
}
.keeplogin input#loginkeeping{
	margin-right: 5px;
}
.keeplogin label{
	width: 80%;
}

/*styling both submit buttons */
#wrapper p.button input{
	width: 97%;
	cursor: pointer;
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;
	border: 1px solid rgb(28, 108, 122);
	margin-bottom: 10px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	0px 0px 0px 3px rgb(254, 254, 254),
	0px 5px 3px 3px rgb(210, 210, 210);
	-moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	0px 0px 0px 3px rgb(254, 254, 254),
	0px 5px 3px 3px rgb(210, 210, 210);
	box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	0px 0px 0px 3px rgb(254, 254, 254),
	0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#wrapper p.button input:hover{
	background: rgb(74, 179, 198);
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
	background: rgb(40, 137, 154);
	position: relative;
	top: 1px;
	border: 1px solid rgb(12, 76, 87);
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
	text-align: right;
	margin: 5px 0;
}

/* styling the Forgot your password*/
.keeploginforgot{
	margin-top: -15px;
}
.keeploginforgot input,
.keeploginforgot label{
	display: inline-block;
	font-size: 10px;
	font-style: italic;
}
.keeploginforgot input#loginforgot{
	margin-right: 5px;
}
.keeploginforgot label{
	width: 80%;
}

/*header area*/
.top-header{
	background: #fff !important;
	position: fixed;
	width: 100%;
	z-index: 99999;
}
.header-backup{
	width: 20px;
	height: 119px;
	background: transparent;
	margin:auto;
}
.top-header img.logo{
	margin-bottom: 25px;
	margin-top: 0;
	transition:all .5s ease 0s;
  -webkit-transition:all .5s ease 0s;
  -moz-transition:all .5s ease 0s;
  -o-transition:all .5s ease 0s;
  -ms-transition:all .5s ease 0s;
	width: 69px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  margin-top: 8px;
  transition:all .5s ease 0s;
  -webkit-transition:all .5s ease 0s;
  -moz-transition:all .5s ease 0s;
  -o-transition:all .5s ease 0s;
  -ms-transition:all .5s ease 0s;
}
.nav-bar{
	margin-top: 27px;
}
.navbar-toggle span{
	color: #fff;
}
ul.nav{
	margin: 0;
	padding: 0;
}
.navbar-default .navbar-nav>li>a {
 	font-size: 24px;
	color: #737373;
	text-transform: uppercase;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
	padding: 14px 15px;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #42b3e5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}
li a.active{
	color: #42b3e5 !important;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
  margin-top: 4px;
}



/*slider area*/
.slider-row{
	margin: 0;
	padding: 0;
}
.slider-wrapper{
	margin: 0;
	padding: 0 !important;
	background: #000 !important;
}
.carousel-caption h1{
	font-size: 157px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 0;
}
.carousel-caption p{
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
}
.carousel-caption button{
	width: 240px;
	height: 60px;
	background: #3a9ecb;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	border:0;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}
.carousel-caption button:hover{
	background: #2a2a2a;
}
.carousel-control{
	width: 5%;
}
.carousel-inner{
	background: -webkit-linear-gradient(left, #000 , blue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, #000, blue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #000, blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #000 , blue); /* Standard syntax */
}
.item{
	position: relative;
}
.carousel-caption {
	position: absolute;
	text-align: left;
	left: 12%;
    line-height: 1;
    top: 50%;
    margin-top: -100px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  font-size: 18px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  color: transparent;
  margin-left: 0;
  margin-top: 50px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  font-size: 18px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  color: transparent;
  margin-right: 0;
  margin-top: 50px;
}

/*about area*/
.about h2{
	font-size: 90px;
	color: #42b3e5;
	margin-top: 50px;
}
.about h4{
	font-size: 24px;
	color: #737373;
	margin-bottom: 45px;
}
.about-img img{
	width: 100%;
}
.single-about-detail{
	position: relative;
}
.pentagon-text h1{
	font-size: 60px;
	color: #383838;
	margin-top: 0;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
	position: absolute;
	  left: 15%;
	  width: 50px;
	  top: -6%;
}
.pentagon-text {
  width: 70px;
  height: 52px;
  background: #fff;
  position: relative;
   top: -30px;
  left: 43%;
}
.pentagon-text:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 34px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 15px solid #fff;
}
.pentagon-text:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 0px;
  border-left: 36px solid transparent;
  border-right: 34px solid transparent;
  border-top: 15px solid #fff;
}
.about-details{
	background: #2a2a2a;
	border-top: 2px solid #fff;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}
.about-details h3{
	font-size: 36px;
	color: #fff;
	margin-top: 0;
}
.about-details p{
	font-size: 13px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	padding: 0 25px;
	padding-bottom: 30px;
}
.single-about-detail:hover .about-details{
	background: #3a9dca;
}
.single-about-detail:hover .pentagon-text h1{
	color: #3a9dca;
}


/*service area*/
.service{
	background: url(../img/pattern.jpg);
	background-repeat: repeat-y;
	margin-top: 40px;
}
.service h2{
	font-size: 90px;
	color: #fff;
	margin-top: 70px;
	margin-bottom: 0;
}
.service h4{
	font-size: 24px;
	color: #fff;
	margin-top: 0;
	margin-bottom: 70px;
	display: block;
}
.single-service-img {
  width: 205px;
  height: 125px;
  background: #fff;
  position: relative;
  left: 50%;
  margin-left: -100px;
}
.single-service-img:before {
  content: "";
  position: absolute;
  top: -42px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 102px solid transparent;
  border-right: 104px solid transparent;
  border-bottom: 42px solid #fff;
}
.single-service-img:after {
  content: "";
  position: absolute;
  bottom: -42px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 102px solid transparent;
  border-right: 102px solid transparent;
  border-top: 42px solid #fff;
  z-index: 10;
}
.service-img {
  width: 200px;
  height: 123px;
  background: #3a9ecb;
  position: relative;
  top: 1px;
  left: 2px;
}
.service-img:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 40px solid #3a9ecb;
}
.service-img:after {
  content: "";
  position: absolute;
  bottom: -39px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 40px solid #3a9ecb;
  z-index: 999;
}
.single-service h3{
	margin-top: 60px;
	color: #fff;
	padding-bottom: 90px;
}
.service-img img.heart{
	left: 20%;
	top: 18%;
}
.service-img img.brain{
	left: 26%;
	top: 11%;
}
.service-img img.knee{
	left: 38%;
}
.service-img img.bone{
	left: 25%;
	top: 14%;
}
.service-img img{
	position: absolute;
  	
}


/*team section*/
.team{
	padding-bottom: 60px;
}
.team h2{
	font-size: 90px;
	color: #42b3e5;
	margin-top: 50px;
	margin-bottom: 0;
}
.team h4{
	font-size: 24px;
	color: #737373;
	margin-top: 0;
	margin-bottom: 45px;
}
.single-member{
	margin: 0;
	padding: 0;
}
.person img{
	width: 100%;
}
.person-detail{
	padding:10px;
	background: #3a9cc8;
	position: relative;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}
.arrow-top{
	position: absolute;
	width: 20px;
	height: 20px;
	background: #3ba0cc;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	bottom: -10px;
  	left: 46%;
  	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}
.arrow-bottom{
	position: absolute;
	width: 20px;
	height: 20px;
	background: #3ba0cc;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	top: -9px;
  	left: 46%;
  	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}
.person-detail h3{
	font-size: 30px;
	color: #fff;
}
.person-detail p{
	font-size: 13px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
.single-member:hover .person-detail{
	background: #2a2a2a;
}
.single-member:hover .arrow-top{
	background: #2a2a2a;
}
.single-member:hover .arrow-bottom{
	background: #2a2a2a;
}


/*contact section*/
.contact-caption{
	background: #3a9dca;
}
.contact-heading h2{
	color: #fff;
	font-size: 90px;
}
.contact-info{
	padding-left: 40px;
}
.contact-info h3{
	padding-left: 0;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid #13849c;
	padding-bottom: 12px;
	margin-bottom: 0;
}
.contact-form h3{
	padding-left: 0;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid #13849c;
	padding-bottom: 12px;
	margin-bottom: 0;
}
.contact-info ul{
	margin: 0;
	padding: 0;
}
.contact-info ul li{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
}
.contact-info i.fa{
	font-size: 16px;
  	padding-right: 12px;
  	width: 25px;
  	height: 38px;
}
.contact-info ul li span{
	font-weight: bold;
}
.contact-form input{
	width: 100%;
	height: 40px;
	background: #fff;
	font-size: 13px;
	color: #084a5c;
	font-family: 'Open Sans', sans-serif;
	padding: 12px;
	border:0;
	margin-bottom: 12px;
}
.contact-form textarea{
	font-family: 'Open Sans', sans-serif;
	padding:12px;
	width: 100%;
	height: 140px;
	border:0;
	margin-bottom: 12px;
}
.info-detail{
	border-top: 1px solid #53cde5;
	padding-top: 15px;
}
.form{
	border-top: 1px solid #53cde5;
	padding-top: 15px;
	text-align: right;
}
.contact-form input.submit-btn{
	width: 180px;
	height: 50px;
	float: right;
	font-size: 24px;
	color: #fff;
	background: url(../img/btn-bg.jpg);
	background-repeat: no-repeat;
	padding: 0;
	font-family: 'BenchNine', sans-serif;
	font-weight: bold;
	
}
.contact-form{
	padding-right: 40px;
}

/*gmap*/
#map{
	height: 830px;
}
.map{
	position: relative;
	overflow: hidden;
}
.contact{
	position: absolute;
	width: 100%;
	height: 830px;
	margin-top: 0px;
	left: 0;
	margin-top: -830px;
	background: rgba(0, 0, 0, 0.51);
}
.contact-caption{
	margin-top: 120px;
}

/*footer*/
.footer-para{
	margin: 0;
	padding: 0;
}
.footer p{
	font-size: 12px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 25px 0;

}
.footer a i.fa{
	font-size: 24px;
	color: #b1b1b1;
	padding: 22px 10px;
}
.footer a i.fa:hover{
	color: #42b3e5;
}

.carousel-inner{
	position: relative;
}



/*======================css for carousel=========================*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  	z-index: 2;
    opacity: 1;
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0, 0, 0, 0) 100%);
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/* just for demo purpose */
    html,
    body,
    .carousel,
    .carousel-inner,
    .carousel-inner .item {
      height: 100%;
    }


/******************************
responsive area
********************************/

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-default .navbar-nav>li>a {
	  font-size: 20px;
	  padding: 14px 12px;
	}
	.carousel-caption h1 {
  		font-size: 120px;
  	}
  	.carousel-caption p {
  		font-size: 32px;
  	}
  	.carousel-caption button {
	  width: 215px;
	  height: 55px;
	  font-size: 26px;
	}
	h2 {
  		font-size: 75px !important;
  	}
  	h4 {
  		font-size: 22px !important;
  	}
  	.person-detail h3 {
  		font-size: 26px;
  	}
  	.person-detail p {
  		font-size: 12px;
  	}

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-default .navbar-nav>li>a {
	  font-size: 16px;
	  padding: 10px 8px;
	}
	.carousel-caption h1 {
  		font-size: 90px;
  	}
  	.carousel-caption p {
  		font-size: 30px;
  	}
  	.carousel-caption button {
		 width: 180px;
		 height: 50px;
		 background: #3a9ecb;
		 color: #fff;
		 font-size: 22px;
	}
	h2 {
  		font-size: 70px !important;
  	}
  	h4 {
  		font-size: 18px !important;
  	}
  	#map{
		height: 1050px;
	}
	.contact{
		margin-top:-1050px;
		height: 1050px;
	}
	.contact-caption {
	 margin-top: 110px;
	}
}

/* xs */
@media (min-width: 480px) and (max-width: 767px) {
	.header-logo img{
	  margin-top: 20px;
	}
	.navbar-default .navbar-nav>li>a {
	  font-size: 20px;
	}
	.carousel-caption {
	    margin-top: -110px;
	}
	.carousel-caption h1 {
  		font-size: 75px;
  	}
  	.carousel-caption p {
  		font-size: 25px;
  	}
  	.carousel-caption button {
	  width: 160px;
	  height: 40px;
	  font-size: 20px;
	}
	#map{
		height: 1120px;
	}
	.contact{
		height: 1120px;
		margin-top: -1120px;
	}
	h2 {
	  font-size: 70px !important;
	}
	h4{
  		font-size: 21px !important;
  	}
	.contact-info ul {
	  margin-left: 4px;
	}
	.contact-info i.fa {
	  width: 25px;
	}
	.contact-caption {
	  margin-top: 140px;
	}
}

/* XS Portrait */
@media (max-width: 479px) {
	.top-header img.logo {
	  margin: 20px 10px;
	}
	.header-logo{
		margin-top: 20px !important;
	}
	.navbar-default .navbar-toggle {
		 border-color: #fff;
		 margin-top: -7px;
		 right: 10%;
	}
	.navbar-default .navbar-nav>li>a {
	  font-size: 16px;
	  text-align: left;
	}
	.header-backup{
		  height: 80px;
	}
	.carousel-caption {
	    margin-top: -60px;
	}
	.carousel-caption h1 {
  		  font-size: 20px;
  	}
  	.carousel-caption p {
  		font-size: 12px;
  	}
	.carousel-caption button {
	  width: 90px;
	  height: 23px;
	  font-size: 16px;
	}
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
	  margin-top: 30px;
	}
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	  margin-top: 30px;
	}
	.about h2 {
	  font-size: 50px;
	  color: #42b3e5;
	  margin-top: 30px;
	}
	.service h2 {
	  font-size: 50px;
	  margin-top: 40px;
	}
	.team h2 {
	  font-size: 50px;
	  margin-top: 40px;
	}
	h4 {
	  font-size: 18px !important;
	}
	.contact-caption{
		margin-top: 38%;
	}
	#map{
		height: 950px;
	}
	.contact{
		height: 950px;
		margin-top: -950px;
	}
	.contact-heading h2 {
	  font-size: 50px;
	  text-align: left;
	  margin-left: 15px;
	}
	.contact-info h3 {
	  margin-left: 8px;
	  font-size: 25px;
	  padding-bottom: 8px;
	}
	.info-detail {
	  margin-left: 8px;
	}
	.contact-info ul li {
	  font-size: 10px;
	}
	.contact-info i.fa {
	  font-size: 13px;
	  width: 20px;
	  height: 18px;
	}
	.contact-info, .contact-form{
		padding: 10px;
	}
	.contact-form h3 {
	  font-size: 25px;
	  padding-bottom: 8px;
	  margin-bottom: 0;
	  margin-right: 0px;
	}
	.footer a i.fa {
	  font-size: 18px;
	  padding: 25px 7px;
	}
	.footer p {
  		font-size: 10px;
  	}
	.col-md-12.col-sm-6.dados{
		float: left !important;
	}
}

.tableConsulta{
	width: 100%;
	background-color: #eee;
}

.tableConsulta th{
	padding:1%;
}
.tableConsulta td{
	padding:1%;
	background-color: darkseagreen;
}

.perfilMedico{
	border-bottom: 1px solid;
	border-bottom-color: #eee;
	padding-bottom: 18px;
}

ul.list-inline.especializacao>li{
	background-color: cadetblue !important;
	color: #eee !important;
	padding: 1% !important;
}

.filter{
	padding-top: 2%;
	padding-bottom: 2%;
}

.btnSession{
	float: right;
}

.formSearch{width: 47% !important;display: inline !important;}
.filterResult {
	background-color: #eee;
	padding: 3%;
}

.pesquisar{
	width: 240px;
	height: 60px;
	background: #3a9ecb;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	border:0;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
	padding: 1%;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 600px;
		margin: 203px auto;
	}
}

.modal-dialog {
	width: 600px;
	margin: 203px auto;
}
.horarioAgenda{
	color: #fff;
	background-color: #42b3e5 !important;
	border-radius: 14px;
	text-align: center;
	margin: 1%;
	cursor: pointer;
}

.titleMarca {
	text-align: center;
	background-color: darkorange;
	color: #fff;
	font-size: 146%;
	padding: 1%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.titleMarca input{width: 35%; color: #1f1d1d;}

.information{
	clear: both;
	padding-top: 7%;
}

.information img {
	width: 79%;
}

.text{
	font-size: 134%;
	padding-top: 5px;
}

.titleData{
	font-size: 32px;
	border-bottom: 1px solid;
	border-color: #ddd;
	color: #42b3e5 !important;
}

.formConsulta{
	padding: 11%;
}

span.error{
	float: left;
	color: red;
	font-size: 19px;
	padding: 3%;
}

span.menuProfile a {
	color: #fff;
}
span.menuProfile{

	background: cadetblue !important;
	padding: 4px;
	margin: 4px;

}

.iconReport{
	text-align: center;
}
span.glyphicon{
	font-size: 29px;
}

.boxTitle{
	background: darkcyan;
	color: #fff;
	padding: 4px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.boxContent{
	border-left: 1px solid;
	height: 130px;
	border-right: 1px solid;
	border-bottom: 1px solid;
	padding-left: 11px;
}

.dropdown.home{
	float: right !important;
	position: absolute !important;
	margin: 6px !important;
}

div#bs-example-navbar-collapse-1 {
	margin-right: 30px !important;
}

@media screen and (min-width: 400px) {
	span.menuProfile {
		float: left !important;
	}

	img.img-responsive.logo {
		width: 100% !important;
	}
}

@media screen and (min-width: 768px) {
	.col-md-12.col-sm-6.dados{
		width: 100% !important;
	}
	span.menuProfile {
		float: left !important;
	}
	img.img-responsive.logo {
		width: 50% !important;
	}
	div#bs-example-navbar-collapse-1 {
		margin-right: 0px !important;
	}
	.navbar-default {
		width: 105% !important;
	}
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}